:root{
	--all-text-color: white;
	--bg-color: #363636;
	--text-color-2: #C1C1C1;
	--help-text-color: #ACACAC;
	--button-color: #82BB81;
	--slider-color: #454140;
}
*{
	font-family: 'Montserrat';
	font-style: normal;
	color: white;
}
body{
	overflow-x: hidden;
	color: var(--all-text-color);
	background-color: var(--bg-color);
	margin: 0px;
	padding-left: calc(50% - 645.5px);
	padding-right: calc(50% - 645.5px);
	padding-top: 64px;
	padding-bottom: 64px;
	user-select: none;
}
nav{
	width: 100%;
	height: 66px;
	display: grid;
	grid-template-columns: 327px 914px;
	gap: 50px;
}
#logo{
	width: 100%;
}
#nav-a{
	display: grid;
	grid-template-columns: 123px 139px 193px 155px 310px;
}
.nav-a{
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-decoration: none;
	margin-top: auto;
}
.page{
	width: 100%;
	padding-top: 38px;
	padding-bottom: 250px;
}
#page-text{
	box-shadow: 10px 10px 10px var(--bg-color);
	position: relative;
	z-index: 99999999;
	background-color: var(--bg-color);
	padding-right: 40px;
	width: 100%;
	padding-left: 50px;
	border-color: red;
	margin-left: -50px;
}
#main-page{
	width: 100%;
	padding-top: 62px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: 604px 640px;
	gap: max(40px, calc(100% - 1244px));
}
.top-header{
	width: 100%;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}
.header{
	width: 100%;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	margin-top: 61px;
}
.text{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: var(--text-color-2);
	margin-top: 9px;
}
.button{
	width: 422px;
	height: 69px;
	background-color: var(--button-color);
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin-top: 38px;
	border-radius: 5px;
	border: 0px;
}
.grid-2-columns{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.help-text{
	margin-top: 53px;
	width: 93%;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--help-text-color);
}
#main-page-slider{
	width: 640px;
	height: 600px;
	position: relative;
	z-index: 999;
}
.slider-window{
	margin-top: 100px;
	transition: left 2s;
	margin-left: 5px;
	gap: 30px;
	left: 0px;
	display: grid;
	grid-template-columns: repeat(4, 640px);
	position: relative;
}
.slider{
	width: 640px;
	height: 458px;
	background-color: var(--slider-color);
	border-radius: 20px;
}
.mask{
	position: absolute;
	width: calc(50vw - 660.5px);
	background-color: var(--bg-color);
	z-index: 9999;
	right: 0px;
	height: 600px;
}
.slider-cir{
	margin-top: 17px;
	margin-left: 19px;
}
.slided-img{
	width: 100%;
	height: 411px;
	margin-top: 14px;
}
.page .header{
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	width: 713px;
}
.page .text{
	width: 1083px;
	padding-left: 110px;
	padding-top: 50px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--all-text-color);
}
#page2 .grid-2-columns{
	margin-top: 37px;
}
#page2 .slider{
	gap: 23px;
	display: grid;
	grid-template-columns: 640px 420px;
	width: 1083px;
	background-color: rgba(0, 0, 0, 0);
}
.slider-text{
	width: 370px;
	height: 409px;
	background-color: var(--slider-color);
	border-radius: 20px;
	padding: 28px 25px 28px 25px;
}
.slider-text .top-header{
	width: 100%;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
.slider-text .header{
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	margin-top: 0px;
}
.slider-text .text{
	width: 100%;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 48px;
}
.slider-text .button{
	width: 362px;
	height: 64px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.text-right{
	text-align: right;
}
#page2-slider{
	display: grid;
	grid-template-columns: 90px 1083px 90px;
	gap: 20px;
}
.slider-list{
	z-index: 99999;
	position: relative;
	margin-top: 224px;
	width: 90px;
	height: 90px;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
}
#page2 .slider-window{
	margin-left: 0px;
	margin-top: 46px;
	grid-template-columns: repeat(2, 1083px);
	gap: 30px;
}
#page2 .mask{
	margin-top: -458px;
	box-shadow: -10px -10px 10px var(--bg-color);
	width: max(90px, calc(50% - 560px));
}
#left{
	margin-top: 0px !important;
	box-shadow: 10px 10px 10px var(--bg-color) !important;
	width: max(90px, calc(50% - 550px)) !important;
	left: 0px;
}
.slider-photo{
	background-color: var(--slider-color);
	border-radius: 20px;
}
.arrow{
	width: 90px;
}
#cost{
	margin-top: 45px;
	display: grid;
	grid-template-columns: repeat(4, 310px);
	gap: 20px;
}
.cost{
	width: 230px;
	height: 420px;
	background-color: var(--slider-color);
	border-radius: 5px;
	padding: 45px 36.5px 45px 46.5px;
}
.cost .header{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin: 0px;
	width: 100%;
	text-align: center;
}
.cost .text{
	height: 230px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	margin-top: 30px;
	padding: 0px;
}
.text-2{
	height: 200px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	margin-top: 30px;
}
.cost .button{
	width: 163px;
	height: 59px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}
.cost .top-header{
	margin-top: 28px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	width: 100%;
	text-align: center;
}
#page3{
	margin-top: -100px;
}
#page4{
	margin-top: -100px;
}
#page4 .grid-2-columns{
	margin-left: 110px;
	padding-top: 55px;
	grid-template-columns: 310px 654px;
	gap: 130px;
}
#call-back{
	padding: 31px 15px 31px 15px;
	width: 280px;
	height: 396px;
	border-radius: 5px;
	background-color: var(--slider-color);
}
#call-back .header{
	width: 100%;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin-top: 0px;
}
.input{
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	border-bottom: 0.1px solid;
	width: 238px;
	height: 32px;
	margin-top: 23px;
	margin-left: 10px;
}
#call-back .button{
	width: 259px;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-top: 180px;
}
.input::placeholder{
	color: white;
}
.example:active, .example:hover, .example:focus {
	outline: 0;
	outline-offset: 0;
	border: 0px;
}
#questions{
	width: 100%;
}
#questions .header{
	width: 100%;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	margin-top: 0px;
}
#questions .top-header{
	width: 100%;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-top: 27px;
}
#questions .text{
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 0px;
}
footer .grid-2-columns{
	width: 100%;
	grid-template-columns: 326px 321px;
	gap: 644px;
}
#footer-logo{
	width: 100%;
}
#footer-a{
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	width: 100%;
	margin-top: auto;
}
#contuct-us{
	margin-top: 50px;
	font-weight: 500;
	font-size: 25px;
	line-height: 39px;
}
#icons{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 80px;
	margin-left: 420px;
	margin-right: 420px;
}
.icon{
	width: 100px;
}